<div class="layout-card">
  <!-- Header-->
  <div class="mytable-header">
    <!-- Title -->
    <span class="mytable-title">{{ listTitle }}</span>

    <!-- Search -->
    <p-iconfield class="search-field">
      <p-inputicon class="pi pi-search"/>
      <input
        pInputText
        placeholder="Search..."
        class="search-input"
        [(ngModel)]="searchQuery"
        (ngModelChange)="handleSearch()"
      />
    </p-iconfield>
  </div>

  <!-- Content -->
  <div class="mytable-table-container">
    <p-table
      [value]="filteredCustomers"
      [paginator]="true"
      [rows]="nbRows"
      [loading]="loading"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            ID
            <p-sortIcon field="id"/>
          </th>
          <th pSortableColumn="name">
            Name
            <p-sortIcon field="name"/>
          </th>
          <th>
            Email
          </th>
          <th style="width: 150px">
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        <tr>
          <td>{{ customer.id }}</td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.email }}</td>
          <td>
            <p-button
              icon="pi pi-eye"
              variant="outlined"
              severity="info"
              (click)="viewCustomer(customer.id)"
            ></p-button>

            <p-button
              icon="pi pi-pencil"
              variant="outlined"
              severity="warn"
              (click)="editCustomer(customer.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="card flex justify-center">
    <p-button
      (click)="showDialog()"
      label="New account"
      icon="pi pi-plus"
    />
    <p-dialog
      header="Edit Profile"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '25rem' }"
    >
      <span class="p-text-secondary block mb-8">Add new account</span>
      <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off"/>
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false"/>
        <p-button label="Save" (click)="visible = false"/>
      </div>
    </p-dialog>
  </div>
</div>
