<h2>{{ customer!.name }}</h2>
<p>Email: {{ customer!.email }}</p>

<br>
<h3>Accounts</h3>

@if (loadingAccounts) {
  <!-- Show Skeleton while loading -->
  <div>
    <p-skeleton width="100%" height="2rem"></p-skeleton>
    <p-skeleton width="90%" height="2rem"></p-skeleton>
    <p-skeleton width="95%" height="2rem"></p-skeleton>
  </div>
} @else {
  <!-- Content -->
  <div class="mytable-table-container">
    <p-table
      [value]="accounts"
      [rows]="5"
      [loading]="loadingAccounts"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            Account number
          </th>
          <th pSortableColumn="type">
            <p-sortIcon field="type"/>
            Type
          </th>
          <th pSortableColumn="status">
            <p-sortIcon field="status"/>
            Status
          </th>
          <th pSortableColumn="balance">
            <p-sortIcon field="balance"/>
            Balance
          </th>
          <th>
            Actions
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-account>
        <tr>
          <td>{{ account.id }}</td>
          <td>{{ account.type }}</td>
          <td>{{ account.status }}</td>
          <td>{{ account.balance }}</td>
          <td>
            <p-button
              icon="pi pi-eye"
              variant="outlined"
              severity="info"
              (click)="viewAccount(account.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
}

