<div class="layout-grid">
  <div class="layout-card">
    <h2>{{ bankAccount!.type }}</h2>
    <p>Id: {{ bankAccount!.id }}</p>
    <p>Status: {{ bankAccount!.status }}</p>
  </div>

  <app-operation-list
    [loadingOperations]="loadingOperations"
    [operations]="operations"
  />

  <!-- Operation dialog -->
  <div class="card flex justify-center">
    <p-button
      (click)="toggleDialogVisibility()"
      label="{{dialogBtnText}}"
      icon="pi pi-plus"
    />

    <p-dialog
      header="{{dialogTitle}}"
      [modal]="true"
      [(visible)]="dialogVisible"
      class="dialog"
    >
      <form [formGroup]="operationForm"
            (ngSubmit)="submitDialog()"
      >
        <!-- Content -->
        <div>
          <label for="amount">Amount</label>
          <input pInputText
                 id="amount"
                 formControlName="amount"
                 type="number"
                 min="1"/>
          @if (isInvalid("amount")) {
            <div style="color: red;">
              Please provide a valid amount.
            </div>
          }
        </div>

        <div>
          <label for="type">Type</label>
          <input pInputText
                 id="type"
                 formControlName="type"
                 type="text"/>
          @if (isInvalid("type")) {
            <div style="color: red;">
              Please choose a valid type.
            </div>
          }
        </div>

        <div>
          <label for="description">Description</label>
          <textarea pInputText
                 id="description"
                 formControlName="description">
          </textarea>
        </div>

        <!-- Controls -->
        <div class="flex justify-end gap-2">
          <p-button label="Cancel"
                    severity="secondary"
                    (click)="toggleDialogVisibility()"/>
          <p-button label="Submit"
                    type="submit"
                    (click)="submitDialog()"
                    [disabled]="operationForm.invalid"/>
        </div>
      </form>
    </p-dialog>
  </div>
</div>
