<div class="layout-grid">
  <div class="layout-card">
    <h2>{{ bankAccount!.type }}</h2>
    <p>Id: {{ bankAccount!.id }}</p>
    <p>Status: {{ bankAccount!.status }}</p>
  </div>

  <app-operation-list
    [loadingOperations]="loadingOperations"
    [operations]="operations"
  />

  <!-- Operation dialog -->
  <div class="card flex justify-center">
    <p-button
      (click)="showDialog()"
      label="{{dialogBtnText}}"
      icon="pi pi-plus"
    />

    <app-operation-form
      (closeDialog)="onCloseDialog($event)"
    />
  </div>
</div>
